{% extends "base.html" %}

{% block content %}

<main>
    <!-- ABOUT US -->
    <div class="about">
        <div class="col-12 text-center mt-5">
            <h1 class="text-dark pt-4">About Us</h1>
            <div class="border-top border-primary w-50 mx-auto my-3"></div>
            <p class="story m-2">
                Cafea Ammonitus was created to help with your coffee journey-- by giving you the coffee advice you seek.<br><br>
                <b>cafea- “coffee”</b>
                <br>
                <b>ammonitus- “avice”</b>
                <br><br>
                The year 2020 has lead everyone on different journeys.<br><br>
                Jerry Seinfeld once famously commented:
            </p>
                <blockquote>
                    "We want to do a lot of stuff; we’re not in great shape.<br>
                    We didn’t get a good night’s sleep. We’re a little depressed.<br>
                    Coffee solves all these problems in one delightful little cup."<br>
                </blockquote>
            <p class="story m-2">
                And this couldn't be more ture for this year. <br>
                Some problems were indeed solved with just a cup of morning coffee.<br>
                While some started their journey to discovering the world of coffee.<br>
                But where to start?<br>
                This is where you can get your coffee advice.
            </p>
              
            </p>
        </div>
    </div>
    <!-- End Abous Us -->
</main>
{% endblock %}