{% extends "base.html" %}

{% block content %}

<main>
    <!-- ABOUT US -->
    <div class="about">
        <div class="col-12 text-center mt-5">
            <h1 class="text-dark pt-4">About Us</h1>
            <div class="border-top border-primary w-50 mx-auto my-3"></div>
            <p class="story m-2">
               Hellen Keller once said:
            </p>
                <blockquote>
                    "Alone, we can do so littel; together we can do so much."<br>
                </blockquote>
            <p class="story m-2">
                This quote couldn't be more applicable to the year 2020. We had individually faced numerous challanges; yet, coming together always made those challanges seem less daunting.
                <br><br>
                Similarly for me, building a community of reader helped me face some of my own problems.
                While a part of this community I had realized a problem we were all facing as avid book readers:
                we had a place to find books (ex. Google Books) and a seperate place to discuss them (ex. Discord). However, we did not have a platform there we could do both.
                <br><br>
                This is why Noveltea was created: to bring together readers to one place in which they can read their favorite books, join fandoms, and even share their expereince with the community.

            </p>
              
            </p>
        </div>
    </div>
    <!-- End Abous Us -->
</main>
{% endblock %}