{% extends "base.html" %}

{% block content %}
    <!-- MAIN CONTENT -->
    <div class="fixed-background">
        <div class="row text-light py-2">
            <div class="col-12 text-center">
                    <img class="p-2" src="{{url_for('static', filename='Logo.png')}}" alt="Logo" width="150", height="150">
                    <h1>Noveltea</h1>
                    <h4 class="py-4">A place of novelty for book lovers</h4>
            </div>
        </div>
    
        <div class="fixed-wrap">
            <div class="fixed"></div>
        </div>
    </div>
    <!-- End Main Content -->   
    {% endblock %}